<?xml version="1.0"?>

<launch>

    <!-- Receive -->
    <node name="head_receive" pkg="robot_localization_head_receive" type="robot_localization_head_receive3"/>
    
    <!-- particle filter -->
    <node name="particle_filter" pkg="robot_localization_pf_landmarks" type="robot_localization_pf_landmarks" output="screen"/>

    <!-- reposition -->
    <node name="reposition" pkg="robot_localization_setposition" type="robot_localization_setposition.py"/>

</launch>
