<?xml version="1.0"?>

<launch>

    <!-- Receive -->
    <node name="zed_receive" pkg="robot_localization_zed_receive" type="robot_localization_zed_receive"/>
    <node name="head_receive" pkg="robot_localization_head_receive" type="robot_localization_head_receive2"/>
    <node name="move" pkg="robot_localization_move" type="robot_localization_move"/>
    
    <!-- particle filter -->
    <node name="particle_filter" pkg="robot_localization_particlefilter" type="robot_localization_particlefilter"/>

    <!-- reposition -->
    <node name="reposition" pkg="robot_localization_setposition" type="robot_localization_setposition.py"/>

</launch>
